* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  overflow: scroll;
  background: black;
}

.globeViz-text {
  font-size: 20px;
  color: white;
  text-align: left;
  width: 30%;
  float:right;
}

.top-info-container {
  z-index: 1;
  top: 20px;
  position: absolute;
  color: white;
  text-align: center;
  width: 70%;
}

.bottom-info-container {
  z-index: 1;
  top: 560px;
  position: absolute;
  color: white;
  text-align: center;
  width: 70%;
}

.right-text-container {
  font-size: 30px;
  color: white;
  text-align: center;
  width: 30%;
  float:right;
}

.section2 {
  font-size: 50px;
  color: white;
  text-align: center;
  clear:both;
}

.title {
  font-size: 35px;
  color: #e6f1ff;
}

.title-desc {
  margin-top: 5px;
  color: #ccd6f6;
  padding: 0 5px;
}

#infected {
  color: goldenrod;
}

#deaths {
  color: #ff4848;
}

#recovered {
  color: #1ae021;
}

.card {
  font-family: 'Space Mono', monospace;
  transition: 0.3s;
  background-color: black;
  width: 190px;
  border: 2px solid steelblue;
  border-radius: 10px;
  z-index: 2;
}

.container {
  /* padding: 3px 16px; */
  padding-top: 1px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

.card-img {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-weight: bold;
}

.card-spacer {
  height: 5px;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.scene-tooltip {
  z-index: 2;
}

.timeline-container {
  z-index: 1;
  position: absolute;
  display: flex;
  color: #fff;
  width: 60%;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .timeline-container {
    width: 90%;
  }
}

.slider {
  -webkit-appearance: none;
  height: 2px;
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
  background: #ccd6f6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: 2px solid #ccd6f6;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: 2px solid #ccd6f6;
}

.play-button {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0);
  border: 1px solid #ccd6f6;
  color: #ccd6f6;
  outline: none;
  width: 5em;
}

/*Line Graph*/
#lineGraphWrapper text {
  fill: white;
}

.dinerDataLine {
  fill: none;
  stroke: #c4c4c4;
  stroke-width: 2px;
}

.covidDataLine {
  fill: none;
  stroke: #f22c5a;
  stroke-width: 3px;
}

.annotationCircle {
  r: 5px;
  fill: #f22c5a;
}

.annotationLine {
  fill: none;
  stroke: #c4c4c4;
  stroke-width: 2px;
}

.axis {
  color: white;
}

.label {
  color: white;
  fill: white;
}



.custom-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: medium;
  color: #ffffff;
  line-height: 0.8;
  padding: .6em 1.4em .5em .8em;
  width: 80%;
  max-width: 80%;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  border-color: black;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #444444 0%,#444444 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.custom-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: medium;
  color: #ffffff;
  line-height: 0.8;
  padding: .6em 1.4em .5em .8em;
  width: 80%;
  max-width: 80%;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  border-color: black;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #444444 0%,#444444 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}



/*.custom-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.custom-select::-ms-expand {
  display: none;
}
.custom-select:hover {
  border-color: #888;
}
.custom-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight:normal;
}
*/

.detailOverlayRect {
  fill: black;
  stroke: #c4c4c4;
  stroke-width: 2px;
  opacity: 0.7;
  rx: 5;
  ry: 5;
}
.text-block {
  position: relative;
  bottom: 0px;
  left: 120px;
  background-color:#ecf6f9;
  color: #27292b;
  padding: 40px;
  width: 530px;
  box-shadow: 8px 8px 10px #c0c0c0;
}


#transition{
  background: white;
}
#nav {
  background-color: transparent;
  background: #24263b;
  color: white;
  padding: 15px;
  text-align: center;
}

.container-mobility {
  display: grid;
  grid-template-columns: 800px 600px;
  border: 10px solid #0000;
  background: black;
    background: #24263b;
  grid-template-rows: auto auto;
}

.map {
  grid-column: 1;
  grid-row: 1;
  width: 800px;
  height: 110%;
  justify-self: left;
  opacity: 0.9;
}

.map-title{
  fill:white;

}

.bar{
  grid-column: 2;
  grid-row: 1;
  width: 90%;
  height: 80%;
  size:16px;
}

.bar-title{
  fill:white;
}

.tooltip-mobility {
  position: absolute;
  pointer-events: none;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 0px;
}

.tooltip-mobility p {
  margin: 4px;
}
.label {
  fill:white;
}


.state {
  stroke:#55f4c3;
  stroke-width:0.5px;
}

.state:hover {
  cursor: pointer;
}

.state.active {
  opacity: 0.8;
  stroke: #55f4c3;
  stroke-width: 1px;
}

.y-axis-label {
  font-size: 16px;
  fill: white;
}

.x-axis line{
  stroke:white !important;
}
.x-axis path{
  stroke:white !important;
}

.y-axis line{
  stroke:white !important;
}
.y-axis path{
  stroke:white !important;
}

.tick text {
  font-size:14px;
  fill:white;
}

.intro-ln1 {
  padding-left: 400px;
  color: white;
}

.intro-ln2 {
  padding-left: 330px;
  color: white;
}

.intro-ln3 {
  padding-left: 420px;
  color: white
}

.rest-button {
    padding-left: 600px;
    color: white;
}

.rest-column {
    float: left;
    width: 50%;
    padding-left: 130px;
}

.rest-row:after {
    content: "";
    display: table;
    clear: both;
}

.rest-row {
    color:white;
    font-size: 9pt;
}

div.tabletitle{
    padding-left: 170px;
}

label {
    color: white;
}

.rest-filter {
    width: 400px;
    margin: 0 auto;
}

.rest-charts {
    clear: both;
    margin-top: 50px;
}

#left, #right {
    width: 47%;
    margin-left: 2%;
    height: 650px;
    float: left;
    overflow: scroll;
    position: relative;
}

svg {
    position: relative;
}

.tooltip {
    position: fixed;
    width:70px;
    right:10px;
    top:10px;
    color: white;
}


.restaurant-text {
  font-size: 20px;
  color: white;
  text-align: center;
}

.rest-intro {
  font-size: 20px;
  color: white;
  text-align: center;
}
